.headline {
  margin: 100px;
  font-size: 5rem;
  background-color: #fff;
  color: #5df7d1;
  text-align: center;
}

body {
  text-align: center;
  font-family: "Montserrat";
}

h1 {
  font-family: "Courgette";
  font-size: 3.5rem;
}

h2 {
  margin-top: 100px;
  font-family: "Montserrat";
  color: #f75d82;
  text-align: center;
}

button {
  background-color: #f75d82;
  color: #fff;
  width: 15rem;
  height: 3.5rem;
}

footer {
  font-family: "Montserrat";
}

button:hover {
  background-color: #faa0b5;
  transition: 0.5s;
}

.footline {
  background-color: #5df7d1;
  position: fixed;
  bottom: 0%;
  width: 100%;
  color: #f75d82;
}

.custom-button {
  margin: 0px 5px 10px 0px;
  width: 2.5rem;
  height: 2.5rem;
}

.btn-coin {
  font-size: 2rem;
}
